version: 2.1
orbs:
  slack: circleci/slack@3.4.2

jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:ubuntu-1804-stitch-tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup virtualenv'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            export LC_ALL=C
            python3 -m venv /usr/local/share/virtualenvs/tap-adwords
            source /usr/local/share/virtualenvs/tap-adwords/bin/activate
            pip install -U 'pip<19.2' 'setuptools<51.0.0'
            pip install .[dev]
      - run:
          name: 'Pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-adwords/bin/activate
            pylint tap_adwords -d missing-docstring,dangerous-default-value,logging-format-interpolation,broad-except,fixme,line-too-long,invalid-name,ungrouped-imports,too-many-locals,wrong-import-order,raising-format-tuple,no-else-return,too-many-lines,consider-using-f-string,consider-using-max-builtin
      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-adwords/bin/activate
            nosetests tests/unittests
      - add_ssh_keys
      - run:
          name: 'Integration Tests'
          command: |
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-a-test --tap=tap-adwords \
                       --target=target-stitch \
                       --orchestrator=stitch-orchestrator \
                       --email=harrison+sandboxtest@stitchdata.com \
                       --password=$SANDBOX_PASSWORD \
                       --client-id=50 \
                       tap_tester_adwords_bookmarks_1
      - slack/notify-on-failure:
          only_for_branches: master

workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 6 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
