version: 2.1
orbs:
  slack: circleci/slack@3.4.2

jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup virtualenv'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            export LC_ALL=C
            python3 -m venv /usr/local/share/virtualenvs/tap-adwords
            source /usr/local/share/virtualenvs/tap-adwords/bin/activate
            pip install -U 'pip<19.2' 'setuptools<51.0.0'
            pip install .[dev]
      - run:
          name: 'Pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-adwords/bin/activate
            source dev_env.sh
            pylint tap_adwords -d "$PYLINT_DISABLE_LIST,logging-format-interpolation,dangerous-default-value,raising-format-tuple"
      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-adwords/bin/activate
            nosetests tests/unittests
      - run:
          name: 'Integration Tests'
          command: |
            source dev_env.sh
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-test --tap=tap-adwords tests
      - slack/notify-on-failure:
          only_for_branches: master

workflows:
  version: 2
  commit: &commit_jobs
    jobs:
      - build:
          context:
            - circleci-user
            - tier-1-tap-user
  build_daily:
    <<: *commit_jobs
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - master
